.button {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: 6px 15px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    border-radius: 3px;
    background-color: #ffdb4d;
}


.button:hover {
    background-color: #f9e591;
}
